@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-background-color: #256eff;
  --option-color: #7898ff;
  --color-white: #ffffff;
  --color-warning: #fbbf24;
  --color-success: #10b956;
  --color-danger: #dc3545;
  --color-info: #0dcaf0;

  /* FONT SIZE */
  --text-xl: 3rem;
  --text-lg: 2rem;
  --text-md: 1.6rem;
  --text-regular: 1.25rem;
  --text-base: 1.1rem;
  --text-sm: 1rem;
  --text-xs: 0.75rem;

  --text-btn: 1.2rem;

  /* FONT WEIGHT */
  --font-extrabold: 900;
  --font-bold: 700;
  --font-semibold: 600;
  --font-medium: 500;
  --font-regular: 400;
  --font-light: 300;
  --font-extralight: 200;

  /* BORDER RADIUS */
  --border-rounded: 999px;
  --border-lg: 15px;
  --border-md: 10px;
  --border-sm: 5px;
  --border-xs: 3px;

  /* SHADOW */
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

html {
  font-size: 100%;
}

body {
  background-color: var(--body-background-color);
  color: var(--color-white);
  font-family: "Inter", sans-serif;
}

.btn {
  border: none;
  color: white;
  padding: 0.75rem 1.5rem;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: var(--font-regular);
  cursor: pointer;
  border-radius: var(--border-xs);
  transition: all 0.3s ease 0s;
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

.btn:hover {
  opacity: 85%;
}

.btn:active {
  opacity: 100%;
}

.signup-card {
  background-color: var(--option-color);
  max-width: 40%;
  margin: auto;
  padding: 1rem 2rem;
  border-radius: var(--border-md);
}

.input-group {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.input-group label {
  font-size: var(--text-sm);
  margin-bottom: 4px;
  font-weight: var(--font-medium);
}

.input {
  font-family: inherit;
  font-size: var(--text-medium);
  border: 2px solid var(--color-form-gray);
  outline: none;
  padding: 1rem;
  border-radius: var(--border-sm);
}

.input:focus {
  border: 2px solid var(--color-primary);
}

/* UTILITY CLASSES */

.text-center {
  text-align: center;
}

.text-lg {
  font-size: var(--text-lg);
}

.text-xs {
  font-size: var(--text-xs);
}

.font-bold {
  font-weight: var(--font-bold);
}

.color-white {
  color: var(--color-white);
}

.bg-info {
  background-color: var(--color-info);
}

.format-link {
  text-decoration: none;
  color: inherit;
}

.my-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.underline-onhover:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .signup-card {
    max-width: 90%;
  }
}
